services:
	-
		class: GuzzleHttp\Client
	-
		class: Lunchbot\Calendar\Calendar
	-
		class: Lunchbot\Provider\Klempirna\KlempirnaLunchMenuParser(DateTimeImmutable())
	-
		class: Lunchbot\Provider\Klempirna\KlempirnaLunchMenuProvider
	-
		class: Lunchbot\Provider\Kravin\KravinLunchMenuParser
	-
		class: Lunchbot\Provider\Kravin\KravinLunchMenuProvider
	-
		class: Lunchbot\Provider\MlsnejKocour\MlsnejKocourLunchMenuParser
	-
		class: Lunchbot\Provider\MlsnejKocour\MlsnejKocourLunchMenuProvider
	-
		class: Lunchbot\Provider\Putica\PuticaLunchMenuParser(DateTimeImmutable())
	-
		class: Lunchbot\Provider\Putica\PuticaLunchMenuProvider
	-
		class: Lunchbot\Publisher\SlackPublisher
		arguments:
			channel: %slack.channel%
			url: %slack.url%
	-
		class: Lunchbot\Command\PostLunchMenusCommand
		arguments:
			providers:
				- @Lunchbot\Provider\Klempirna\KlempirnaLunchMenuProvider
				- @Lunchbot\Provider\Kravin\KravinLunchMenuProvider
				- @Lunchbot\Provider\MlsnejKocour\MlsnejKocourLunchMenuProvider
				- @Lunchbot\Provider\Putica\PuticaLunchMenuProvider
			publisher: @Lunchbot\Publisher\SlackPublisher
	-
		class: Symfony\Component\Console\Application
		arguments:
			name: "Slack Lunchbot"
		setup:
			- add(@Lunchbot\Command\PostLunchMenusCommand)
